@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "IS413 Assignment 2";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="css/main.css" rel="stylesheet" />
    <link rel="icon" href="img/unnamed.jpg">
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <menu>
            <ul>
                <li><a asp.controller="Home" asp-action="Index">Home</a></li>
                <li><a asp.controller="Home" asp-action="GradeCalculator">Grade Calculator</a></li>
            </ul>
        </menu>
    </header>

    @RenderBody()

    <footer>
        My Footer
    </footer>
    
</body>
</html>
